/* ==========
Hero Area
================= */

.hero1,
.hero1 .glide__slides {
  background-color: #e3e6f3;
  position: relative;
  height: calc(100vh - 6rem);
  margin: 0 0rem;
  overflow: hidden;
  
}

.hero1 .center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  padding-top: 3rem;
}

.hero1 .left {
  position: absolute;
  top: 0%;
  left: 0;
  opacity: 0;
  transition: all 1000ms ease-in-out;
  padding: 0 50px;
}

/* .hero1 .left h1 {
  font-size: 5rem;
  margin: 1rem 0;
}

.hero1 .left p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}*/

.hero1 .left h4{
  padding-bottom: 15px;
}
.hero1 .left p {
  font-size: 16px;
    color:#465b52;
    margin: 15px 0 20px 0;
}

.hero1 .left h1{
  color: #088178;
}

.hero1 .left button{
  background-image: url(img/button.png);
  background-color: transparent;
  color: #088178;
  border: none;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;

}

/* .hero1 .left .hero1-btn {
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  margin-top: 1rem;
  background-color: var(--green);
  color: white;
} */

.hero1 .right {
  flex: 0 0 50%;
  height: 100%;
  position: relative;
  text-align: center;
}

.hero1 .right img {
  position: absolute;
  width: 55rem;
  opacity: 0;
  transition: all 1000ms ease-in-out;
}

.center .right img.img1 {
  width: 85%;
  right: -25%;
  bottom: -50%;
}

.center .right img.img2 {
  width: 90%;
  right: -40%;
  bottom: -40%;
}

.glide__slide--active .center .right img {
  bottom: -3%;
  opacity: 1;
}

.glide__slide--active .left {
  opacity: 1;
  top: 35%;
}
/*
======================
Hero Media Query
======================
*/
@media only screen and (max-width: 999px) {
    .glide__slide--active .left {
      top: 15%;
    }
  
    .center .right img.img1 {
      width: 90%;
    }
  
    .center .right img.img2 {
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 567px) {
    .center .right img.img1 {
      width: 30rem;
    }
  
    .center .right img.img2 {
      width: 33rem;
    }
  
    .hero1,
    .hero1 .glide__slides {
      margin: 0;
      padding: 0 3rem;
    }
  
    .hero1 .left h1 {
      font-size: 3rem;
    }
  
    .hero1 .left h4 {
      font-size: 1.4rem;
    }
    .hero1 .left p {
      font-size: 1.5rem;
      width: 80%;
    }
  }
  